{% extends 'header.html' %}

{% block head %}
<title>View Bug</title>
{% endblock %}

{% block content %}

USERS TABLE

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript">
    function changeallocation(val,id) {
        data={id:id,username:val.value}
        $.ajax({
            type:"PUT",
            url:"update_bug",

            dataType: 'json',
            contentType: 'application/json',
            data:JSON.stringify(data),
            success:function(data){
                console.log('update')
            },
        });
        console.log('error updating user')
    }
    function updateUser(id) {
        data={id:id, newuser:document.getElementById(id+"_user").value}
        $.ajax({
            type:"PUT",
            url:"update_user",
            dataType: 'json',
            contentType: 'application/json',
            data:JSON.stringify(data)
        });
        window.location.reload();
    };

</script>
<table id="viewUsersTable" class="table table-bordered" style="border:5px double black;">
  <thead>
    <tr class="selectable-row">
      <th>User Name</th>
      <th>Email</th>
      <th>Birthdate </th>
      <th>Gender </th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {% for item in users %}
    <tr id="{{item._id}}">
        <td id="userRow">
            <textarea style="width:100%" id="{{item._id}}_user">
            {{item.username}}
            </textarea>
        </td>
        <td>{{item.email}}</td>
        <td>{{item.birthdate}}</td>
        <td>{{item.gender}}</td>
        <td><button id="updateButton" class="btn btn-sm btn-primary" onclick="return updateUser('{{item._id}}');" >Update User</button></td>

    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}